---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    <div id="blurb">

        <img id="profile_img" src="/assets/img/geneva.webp" />

        <div id="blurb_text">
            <p><strong>I'm a postgraduate researcher and software engineer with a passion for mobile technologies and
                    education. I develop mobile applications and full-stack web technologies, and conduct research using
                    participatory design in public-facing roles.</strong></p>
            <p>
                Over the course of my PhD I have developed and published multiple applications and web platforms;
                organised and led research workshops and events (ranging from 5 - 50 participants); worked with many
                schools both
                in and outside of the classroom; interned with international institutions such as the Red Cross & Red
                Crescent; and written up, published and presented my work in international academic conferences.
            </p>
        </div>

    </div>

    <div class="pill_list">
        <a class="btn pill" href="/assets/pdf/DanRichardson_2019.pdf" target="_blank">View CV</a>
        <a class="btn pill" href="https://github.com/GSDan" target="_blank">GitHub</a>
        <a class="btn pill" href="https://scholar.google.co.uk/citations?user=WPNviioAAAAJ&hl=en" target="_blank">Google Scholar</a>
    </div>

    <div class="section-title">
        Research Projects
    </div>

    <div class="project_blurb">
    <p>Below you will find brief overviews of the research projects that I have
    been involved in: my PhD project, OurPlace; MySkinSelfie, in which I was
    responsible for all of the technical implementation; TalkFutures, which I
    helped develop in a small team within the Red Cross & Red Crescent; and several
    other, smaller projects which I've assisted with.</p>
    </div>

    <ul id="rig">
        <li>
            <a class="rig-cell" href="/ourplace">
                <img class="rig-img" src="/assets/img/OurPlaceCell.webp" />
                <span class="rig-overlay"><img src="/assets/img/OurPlaceCell_overlay.png" /></span>
                <span class="rig-text">OurPlace is a mobile learning platform, designed to support communities in
                    creating and sharing interactive learning activities about the places they care most about.</span>
            </a>
        </li>
        <li>
            <a class="rig-cell" href="/myskinselfie">
                <img class="rig-img" src="/assets/img/SkinSelfieCell.webp" />
                <span class="rig-overlay"></span>
                <span class="rig-text">MySkinSelfie makes it easier to keep track of how your skin conditions change
                    over time. </span>
            </a>
        </li>
        <li>
            <a class="rig-cell" href="/talkfutures">
                <img class="rig-img" src="/assets/img/TalkFuturesCell.webp" />
                <span class="rig-overlay"><img src="/assets/img/TalkFuturesCell_overlay.png" /></span>
                <span class="rig-text">TalkFutures helps structure and record conversations about how the Red Cross and
                    Red Crescent can adapt to the challenges of the future.</span>
            </a>
        </li>
        <li>
            <a class="rig-cell" href="/otherresearch">
                <img class="rig-img" src="/assets/img/ResearchAssociateCell.webp" />
                <span class="rig-overlay"><img src="/assets/img/ResearchAssociateCell_overlay.png" /></span>
                <span class="rig-text">A collection of other research projects that I've contributed to.</span>
            </a>
        </li>
    </ul>

    <br>

    <div class="section-title">
        Academic Publications
    </div>

    <h3>First Author</h3>
    <ul class="paper_list">
        <li>
            <p class="paper_title">Exploring Public Places As Infrastructures for Civic M-Learning</p>
            <p class="paper_detail">Dan Richardson, Clara Crivellaro, Ahmed Kharrufa, Kyle Montague, Patrick Olivier</p>
            <p class="paper_detail">2017 | International Conference on Communities and Technologies | <a
                    href="https://doi.org/10.1145/3083671.3083678" target="_blank">DOI</a> | <a
                    href="/assets/pdf/ExploringPublicPlacesAsInfrastructuresForCivicMLearning.pdf"
                    target="_blank">PDF</a></p>
        </li>

        <li>
            <p class="paper_title">Parklearn: Creating, Sharing and Engaging with Place-Based Activities for Seamless
                Mobile Learning</p>
            <p class="paper_detail">Dan Richardson, Pradthana Jarusriboonchai, Kyle Montague, Ahmed Kharrufa</p>
            <p class="paper_detail">2018 | International Conference on Human-Computer Interaction with Mobile Devices
                and Services | <a href="https://doi.org/10.1145/3229434.3229462" target="_blank">DOI</a> | <a
                    href="/assets/pdf/ParkLearnCreatingSharingEngagingwithPlace.pdf" target="_blank">PDF</a></p>
        </li>
    </ul>

    <h3>Contributing Author</h3>

    <ul class="paper_list">
        <li>
            <p class="paper_title">Speeching: Mobile Crowdsourced Speech Assessment to Support Self-Monitoring and
                Management for People with Parkinson's</p>
            <p class="paper_detail">Róisín McNaney, Mohammad Othman, Dan Richardson, Paul Dunphy, Telmo Amaral, Nick
                Miller, Helen Stringer, Patrick Olivier, John Vines</p>
            <p class="paper_detail">2016 | CHI Conference on Human Factors in Computing Systems | <a
                    href="https://doi.org/10.1145/2858036.2858321" target="_blank">DOI</a></p>
        </li>

        <li>
            <p class="paper_title">Evaluation of MySkinSelfie: A New Mobile App for Patient Skin Self-Monitoring</p>
            <p class="paper_detail">Philip Hampton, Dan Richardson, Kyle Montague, Patrick Olivier</p>
            <p class="paper_detail">2017 | Journal of the American Academy of Dermatology | <a
                    href="https://doi.org/10.1016/j.jaad.2017.04.504" target="_blank">DOI</a></p>
        </li>

        <li>
            <p class="paper_title">StammerApp: Designing a Mobile Application to Support Self-Reflection and Goal
                Setting for People Who Stammer</p>
            <p class="paper_detail">Roisin McNaney, Christopher Bull, Lynne Mackie, Floriane Dahman, Helen Stringer, Dan
                Richardson, Daniel Welsh</p>
            <p class="paper_detail">2018 | CHI Conference on Human Factors in Computing Systems | <a
                    href="https://doi.org/10.1145/3173574.3173841" target="_blank">DOI</a></p>
        </li>

        <li>
            <p class="paper_title">Usability Testing of MySkinSelfie: a Mobile Phone Application for Skin
                Self‐Monitoring</p>
            <p class="paper_detail">P Hampton, D Richardson, S Brown, C Goodhead, K Montague, P Olivier</p>
            <p class="paper_detail">2019 | Clinical and Experimental Dermatology | <a
                    href="https://doi.org/10.1111/ced.13995" target="_blank">DOI</a></p>
        </li>

    </ul>
</div>