---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    <div id="blurb">

        <img id="profile_img" src="/assets/img/geneva.webp" />

        <div id="blurb_text">
            <p><strong>I'm a postgraduate researcher and software engineer with a passion for co-developing mobile
                    technologies within communities and schools. Using participatory design, I engage with stakeholders
                    to
                    produce and deploy mobile applications and full-stack web technologies which aim to empower them as
                    citizens. </strong></p>

            <p>This has included giving communities approachable platforms for sharing their local knowledge and civic
                values, supporting NHS patients in self-monitoring their skin conditions, and helping Red Cross
                volunteers
                voice their concerns about the future of their institution.</strong></p>
        </div>
    </div>

    <div class="pill_list">
        <a class="btn pill" href="/assets/pdf/Dan_Richardson_Research_Resume.pdf" target="_blank">Researcher CV</a>
        <a class="btn pill" href="/assets/pdf/DanRichardson_2019.pdf" target="_blank">Developer CV</a>
        <a class="btn pill" href="https://github.com/GSDan" target="_blank">GitHub</a>
        <a class="btn pill" href="https://scholar.google.co.uk/citations?user=WPNviioAAAAJ&hl=en" target="_blank">Google
            Scholar</a>
    </div>

    <div class="section-title">
        Latest Blog Post
    </div>

    <div class="blog_preview">
        {% if site.posts.first.image %}
        <img class="blog_featureImg_small" src="/assets/img/posts/{{site.posts.first.image}}">
        {% endif %}
        <h3><a href="{{ site.posts.first.url }}">{{site.posts.first.title}}</a></h3>
        <p>{{site.posts.first.excerpt}}</p>
        <div class="pill_list">
            <a class="btn pill" href="{{ site.posts.first.url }}">Read more</a>
        </div>
    </div>

    <div class="section-title">
        My Experience
    </div>

    <div class="project_blurb">
        <p>
            As a researcher I have:
            <ul>
                <li>Developed and published three multi-platform and open source mobile applications across the fields
                    of local heritage education (<a href="/ourplace">OurPlace</a>), volunteering (<a
                        href="/talkfutures">TalkFutures</a>) and healthcare (<a href="/myskinselfie">MySkinSelfie</a>).
                </li>
                <li>Organised and led research workshops and events (with up to 50 participants), as well as record,
                    transcribe, analyse and code participants' interactions as qualitative data.</li>
                <li>Successfully deployed my application <i>OurPlace</i> with hundreds of students across nine different
                    schools, both in the classroom and on class trips.</li>
                <li>Interned with both the Red Cross in Geneva and the International Computer Science Institute in
                    Berkeley, working in small teams to develop user-facing technologies and design and facilitate
                    participant research studies.</li>
                <li><a href="https://scholar.google.co.uk/citations?user=WPNviioAAAAJ&hl=en">
                        Published and presented</a> my work in international academic conferences such as MobileHCI and
                    Communities & Technologies, documenting my research into how mobile learning technologies can be
                    used to
                    better surface and utilise the civic value of places, and empower the communities which give them
                    meaning.</li>
            </ul>
        </p>
    </div>

    <div class="subsection-title">
        Click a Tile for More Details
    </div>

    <ul id="rig">
        <li>
            <a class="rig-cell" href="/ourplace">
                <img class="rig-img" src="/assets/img/OurPlaceCell.webp" />
                <span class="rig-overlay"><img src="/assets/img/OurPlaceCell_overlay.png" /></span>
                <span class="rig-text">OurPlace is a mobile learning platform, designed to support communities in
                    creating and sharing interactive learning activities about the places they care most about.
                    <p class="rig-prompt">Click for more information</p></span>
            </a>
        </li>
        <li>
            <a class="rig-cell" href="/myskinselfie">
                <img class="rig-img" src="/assets/img/SkinSelfieCell.webp" />
                <span class="rig-overlay"></span>
                <span class="rig-text">MySkinSelfie makes it easier to keep track of how your skin conditions change
                    over time.
                    <p class="rig-prompt">Click for more information</p></span>
            </a>
        </li>
        <li>
            <a class="rig-cell" href="/talkfutures">
                <img class="rig-img" src="/assets/img/TalkFuturesCell.webp" />
                <span class="rig-overlay"><img src="/assets/img/TalkFuturesCell_overlay.png" /></span>
                <span class="rig-text">TalkFutures helps structure and record conversations about how the Red Cross and
                    Red Crescent can adapt to the challenges of the future.
                    <p class="rig-prompt">Click for more information</p></span>
            </a>
        </li>
        <li>
            <a class="rig-cell" href="/otherresearch">
                <img class="rig-img" src="/assets/img/ResearchAssociateCell.webp" />
                <span class="rig-overlay"><img src="/assets/img/ResearchAssociateCell_overlay.png" /></span>
                <span class="rig-text">A collection of other research projects that I've contributed to.
                    <p class="rig-prompt">Click for more information</p></span>
            </a>
        </li>
    </ul>

    <ul id="rig">
        <div id="rig-wide">
            <li>
                <a class="rig-cell-wide" href="/hobbies">
                    <img class="rig-img-wide" src="/assets/img/hobbiesCell.webp" />
                    <img class="rig-img-wide-small" src="/assets/img/hobbiesCell_small.webp" />
                </a>
            </li>
        </div>
    </ul>

    <br>

    <div class="section-title">
        Academic Publications
    </div>

    <h3>First Author</h3>
    <ul class="paper_list">
        <li>
            <p class="paper_title">We are the Greatest Showmen: Configuring a
                Framework for Project-Based Mobile Learning</p>
            <p class="paper_detail"><em>Dan Richardson</em>, Ahmed Kharrufa</p>
            <p class="paper_detail">2020 | CHI Conference on Human Factors in
                Computing Systems | <a href="https://doi.org/10.1145/3313831.3376650" target="_blank">DOI</a> | <a
                    href="/assets/pdf/We_are_the_Greatest_Showmen__CC.pdf" target="_blank">PDF</a></p>
        </li>
        <li>
            <p class="paper_title">Parklearn: Creating, Sharing and Engaging with Place-Based Activities for Seamless
                Mobile Learning</p>
            <p class="paper_detail"><em>Dan Richardson</em>, Pradthana Jarusriboonchai, Kyle Montague, Ahmed Kharrufa
            </p>
            <p class="paper_detail">2018 | International Conference on Human-Computer Interaction with Mobile Devices
                and Services | <a href="https://doi.org/10.1145/3229434.3229462" target="_blank">DOI</a> | <a
                    href="/assets/pdf/ParkLearnCreatingSharingEngagingwithPlace.pdf" target="_blank">PDF</a></p>
        </li>
        <li>
            <p class="paper_title">Exploring Public Places As Infrastructures for Civic M-Learning</p>
            <p class="paper_detail"><em>Dan Richardson</em>, Clara Crivellaro, Ahmed Kharrufa, Kyle Montague, Patrick
                Olivier</p>
            <p class="paper_detail">2017 | International Conference on Communities and Technologies | <a
                    href="https://doi.org/10.1145/3083671.3083678" target="_blank">DOI</a> | <a
                    href="/assets/pdf/ExploringPublicPlacesAsInfrastructuresForCivicMLearning.pdf"
                    target="_blank">PDF</a></p>
        </li>
    </ul>

    <h3>Contributing Author</h3>

    <ul class="paper_list">

        <li>
            <p class="paper_title">TalkFutures: Supporting Qualitative Practices in Distributed Community Engagements</p>
            <p class="paper_detail">Jay Rainey, Juan Carlos Alvarez de la Vega, <em>Dan Richardson</em>, 
                Daniel Lambton-Howard, Sara Armouch, Tom Bartindale, Shaun Hazeldine, Pamela Briggs, 
                Patrick Olivier, Kyle Montague</p>
            <p class="paper_detail">2020 | Designing Interactive Systems | <a
                    href="https://doi.org/10.1145/3357236.3395531" target="_blank">DOI</a> | <a
                    href="https://dl.acm.org/doi/pdf/10.1145/3357236.3395531" target="_blank">PDF</a></p>
        </li>
        
        <li>
            <p class="paper_title">Usability Testing of MySkinSelfie: a Mobile Phone Application for Skin
                Self‐Monitoring</p>
            <p class="paper_detail">Philip Hampton, <em>Dan Richardson</em>, Sarah Brown, Charlotte Goodhead, Kyle
                Montague, Patrick Olivier</p>
            <p class="paper_detail">2019 | Clinical and Experimental Dermatology | <a
                    href="https://doi.org/10.1111/ced.13995" target="_blank">DOI</a></p>
        </li>

        <li>
            <p class="paper_title">StammerApp: Designing a Mobile Application to Support Self-Reflection and Goal
                Setting for People Who Stammer</p>
            <p class="paper_detail">Róisín McNaney, Christopher Bull, Lynne Mackie, Floriane Dahman, Helen Stringer,
                <em>Dan Richardson</em>, Daniel Welsh</p>
            <p class="paper_detail">2018 | CHI Conference on Human Factors in Computing Systems | <a
                    href="https://doi.org/10.1145/3173574.3173841" target="_blank">DOI</a></p>
        </li>

        <li>
            <p class="paper_title">Evaluation of MySkinSelfie: A New Mobile App for Patient Skin Self-Monitoring</p>
            <p class="paper_detail">Philip Hampton, <em>Dan Richardson</em>, Kyle Montague, Patrick Olivier</p>
            <p class="paper_detail">2017 | Journal of the American Academy of Dermatology | <a
                    href="https://doi.org/10.1016/j.jaad.2017.04.504" target="_blank">DOI</a></p>
        </li>

        <li>
            <p class="paper_title">Speeching: Mobile Crowdsourced Speech Assessment to Support Self-Monitoring and
                Management for People with Parkinson's</p>
            <p class="paper_detail">Róisín McNaney, Mohammad Othman, <em>Dan Richardson</em>, Paul Dunphy, Telmo Amaral,
                Nick
                Miller, Helen Stringer, Patrick Olivier, John Vines</p>
            <p class="paper_detail">2016 | CHI Conference on Human Factors in Computing Systems | <a
                    href="https://doi.org/10.1145/2858036.2858321" target="_blank">DOI</a></p>
        </li>

    </ul>
</div>
