---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    <div id="blurb">

        <img id="profile_img" src="/assets/img/geneva.webp" />

        <div id="blurb_text">
            <p><strong>I'm a Human-Computer Interaction researcher and software engineer with a passion for
                    collaborative systems and Digital Civics research. Using participatory design, I engage with
                    stakeholders to produce and deploy mobile applications and full-stack web technologies which
                    aim to empower them as citizens. </strong></p>

            <p>This has included giving communities approachable platforms for sharing their local knowledge and civic
                values, supporting NHS patients in self-monitoring their skin conditions, and helping Red Cross
                volunteers voice their concerns about the future of their institution.</strong></p>
        </div>
    </div>

    <div class="pill_list">
        <a class="btn pill" href="/assets/pdf/Dan_Richardson_Research_Resume.pdf" target="_blank">Resume</a>
        <a class="btn pill" href="https://github.com/GSDan" target="_blank">GitHub</a>
        <a class="btn pill" href="https://scholar.google.co.uk/citations?user=WPNviioAAAAJ&hl=en" target="_blank">Google
            Scholar</a>
    </div>

    <div class="section-title">
        Latest Blog Post
    </div>

    <div class="blog_preview">
        {% if site.posts.first.image %}
        <img class="blog_featureImg_small" src="/assets/img/posts/{{site.posts.first.image}}">
        {% endif %}
        <h3><a href="{{ site.posts.first.url }}">{{site.posts.first.title}}</a></h3>
        <p>{{site.posts.first.excerpt}}</p>
        <div class="pill_list">
            <a class="btn pill" href="{{ site.posts.first.url }}">Read more</a>
        </div>
    </div>

    <div class="section-title">
        My Experience
    </div>

    <div class="project_blurb">
        <p>
            As a researcher I have:
        <ul>
            <li>Developed and published several open source platforms, supporting remote, offline engagements (<a href="/paroli">Paroli</a>);
                local heritage education (<a href="/ourplace">OurPlace</a>); a worldwide engagement with international volunteers (<a
                    href="/talkfutures">TalkFutures</a>); and patient-driven healthcare (<a href="/myskinselfie">MySkinSelfie</a>).
            </li>
            <li>Organised and led research workshops and events (with up to 50 participants), as well as record,
                transcribe, analyse and code participants' interactions as qualitative data.</li>
            <li>Successfully deployed my application <i>OurPlace</i> with hundreds of students across nine different
                schools, both in the classroom and on class trips.</li>
            <li>Interned with both the Red Cross in Geneva and the International Computer Science Institute in
                Berkeley, working in small teams to develop user-facing technologies and design and facilitate
                participant research studies.</li>
            <li><a href="https://scholar.google.co.uk/citations?user=WPNviioAAAAJ&hl=en">
                    Published and presented</a> my work in international academic conferences such as MobileHCI and
                Communities & Technologies, documenting my research into how mobile learning technologies can be
                used to
                better surface and utilise the civic value of places, and empower the communities which give them
                meaning.</li>
        </ul>
        </p>
    </div>

    <div class="subsection-title">
        Click a Tile for More Details
    </div>

    <ul id="rig">
        <li>
            <a class="rig-cell" href="/projects/paroli">
                <img class="rig-img" src="/assets/img/ParoliCell.webp" />
                <span class="rig-overlay"><img src="/assets/img/ParoliCell_overlay.png" /></span>
                <span class="rig-text">Paroli is a web-based platform, designed to support organisations in running
                     group activities with offline participants through standard phone calls.
                    <p class="rig-prompt">Click for more information</p>
                </span>
            </a>
        </li>
        <li>
            <a class="rig-cell" href="/projects/moviekeeper">
                <img class="rig-img" src="/assets/img/MoviekeeperCell.webp" />
                <span class="rig-overlay"><img src="/assets/img/MoviekeeperCell_overlay.webp" /></span>
                <span class="rig-text">MovieKeeper makes it easy to scan and browse your physical movie collection.
                    <p class="rig-prompt">Click for more information</p>
                </span>
            </a>
        </li>
        <li>
            <a class="rig-cell" href="/projects/ourplace">
                <img class="rig-img" src="/assets/img/OurPlaceCell.webp" />
                <span class="rig-overlay"><img src="/assets/img/OurPlaceCell_overlay.png" /></span>
                <span class="rig-text">OurPlace is a mobile learning platform, designed to support communities in
                    creating and sharing interactive learning activities about the places they care most about.
                    <p class="rig-prompt">Click for more information</p>
                </span>
            </a>
        </li>
        <li>
            <a class="rig-cell" href="/projects/myskinselfie">
                <img class="rig-img" src="/assets/img/SkinSelfieCell.webp" />
                <span class="rig-overlay"></span>
                <span class="rig-text">MySkinSelfie makes it easier to keep track of how your skin conditions change
                    over time.
                    <p class="rig-prompt">Click for more information</p>
                </span>
            </a>
        </li>
        <li>
            <a class="rig-cell" href="/projects/talkfutures">
                <img class="rig-img" src="/assets/img/TalkFuturesCell.webp" />
                <span class="rig-overlay"><img src="/assets/img/TalkFuturesCell_overlay.png" /></span>
                <span class="rig-text">TalkFutures helps structure and record conversations about how the Red Cross and
                    Red Crescent can adapt to the challenges of the future.
                    <p class="rig-prompt">Click for more information</p>
                </span>
            </a>
        </li>
        <li>
            <a class="rig-cell" href="/projects/otherresearch">
                <img class="rig-img" src="/assets/img/ResearchAssociateCell.webp" />
                <span class="rig-overlay"><img src="/assets/img/ResearchAssociateCell_overlay.png" /></span>
                <span class="rig-text">A collection of other research projects that I've contributed to.
                    <p class="rig-prompt">Click for more information</p>
                </span>
            </a>
        </li>
    </ul>

    <ul id="rig">
        <div id="rig-wide">
            <li>
                <a class="rig-cell-wide" href="/projects/hobbies">
                    <img class="rig-img-wide" src="/assets/img/hobbiesCell.webp" />
                    <img class="rig-img-wide-small" src="/assets/img/hobbiesCell_small.webp" />
                </a>
            </li>
        </div>
    </ul>

    <br>

    <div class="section-title">
        PhD Doctoral Thesis
    </div>

    <p class="paper_title">Local Communities as Infrastructure for Place-Based Mobile Learning</p>
    <p class="paper_detail"><em>Dan Richardson</em> | Supervisor: Ahmed Kharrufa</p>
    <p class="paper_detail">2021 | Newcastle University | <a
            href="/assets/pdf/Richardson_LocalCommunitiesAsInfrastructureForPlaceBasedMobileLearning.pdf"
            target="_blank">PDF</a> | <a href="https://github.com/GSDan/Thesis" target="_blank">GitHub</a></p>
    <p class="paper_detail">Examined by Professor Yvonne Rogers and Dr Vasilis Vlachokyriakos</p>

    <br>

    <p><b>Abstract:</b></p>
        <i>
        <p>The last decade has seen a significant reconfiguration of the UK’s public services through
        policies of austerity. Severe funding cuts have been made to many local councils, resulting in various
        services—such as the upkeep of local parks, and educational activities within them—to be cut from some
        authorities’ funding altogether, with their upkeep instead relying upon volunteerism or charges. Coinciding with
        an increase in the use of mobile technologies in schools, stakeholder groups are frequently also turning to them
        in an effort to promote the places they care for: attempting to engage with new audiences and promote the value
        of place to younger generations.</p>

        <p>This thesis explores the design space for mobile learning platforms which harness places and communities as
        resources for both formal and informal learning, and how such technologies can be used by stakeholders share
        their knowledge and further their own agendas.This design space is then further explored through the design,
        development and evaluation of OurPlace—a mobile learning platform consisting of Android and iOS applications and
        a supplementary website. OurPlace was designed to support community members, teachers and learners in creating,
        sharing and engaging with place-based mobile learning activities through seamless learning experiences. To
        further investigate how such mobile learning technologies and local resources could be effectively used within
        formal education, this work also proposes a framework for ‘project-based mobile learning’, applying and
        evaluating this framework using OurPlace in three different schools and a summer school of Travelling
        Showchildren,working within the unique constraints of each.</p>

        <p>Through a design-based research approach, this project combines findings of longitudinal observational studies
        with volunteer community groups and a mix of long and short-term case studies with schools to contribute:
        implications for designing digital platforms which harness places’ existing social infrastructures as resources
        for civic learning; OurPlace, a platform designed to harness these resources; and the introduction and
        demonstration of a generalisable framework for structuring the use of such mobile learning technologies within
        project-based learning, along with recommendations for its re-configuration in response to contextual
        constraints.</p></i>

    <br>

    <div class="section-title">
        Published Papers
    </div>

    <h3>First Author</h3>
    <ul class="paper_list">
        <li>
            <p class="paper_title">Critically Engaging with Embedded Values through Constrained Technology Design</p>
            <p class="paper_detail"><em>Dan Richardson</em>, Bronwyn J. Cumbo, Tom Bartindale, Delvin Varghese, Manika Saha, Pratyasha Saha, Syed Ishtiaque Ahmed, Gillian C. Oliver, Patrick Olivier</p>
            <p class="paper_detail">2022 | Designing Interactive Systems Conference | <a href="https://dl.acm.org/doi/10.1145/3532106.3533570" target="_blank">DOI</a> | 
                <a href="/assets/pdf/CriticallyEngagingWithEmbeddedValues.pdf" target="_blank">PDF</a> | 
                <a href="https://www.youtube.com/watch?v=u3r944SclKo" target="_blank">Video Presentation</a></p>
        </li>
        <li>
            <p class="paper_title">We are the Greatest Showmen: Configuring a
                Framework for Project-Based Mobile Learning</p>
            <p class="paper_detail"><em>Dan Richardson</em>, Ahmed Kharrufa</p>
            <p class="paper_detail">2020 | CHI Conference on Human Factors in
                Computing Systems | <a href="https://doi.org/10.1145/3313831.3376650" target="_blank">DOI</a> | <a
                    href="/assets/pdf/We_are_the_Greatest_Showmen__CC.pdf" target="_blank">PDF</a></p>
        </li>
        <li>
            <p class="paper_title">Parklearn: Creating, Sharing and Engaging with Place-Based Activities for Seamless
                Mobile Learning</p>
            <p class="paper_detail"><em>Dan Richardson</em>, Pradthana Jarusriboonchai, Kyle Montague, Ahmed Kharrufa
            </p>
            <p class="paper_detail">2018 | International Conference on Human-Computer Interaction with Mobile Devices
                and Services | <a href="https://doi.org/10.1145/3229434.3229462" target="_blank">DOI</a> | <a
                    href="/assets/pdf/ParkLearnCreatingSharingEngagingwithPlace.pdf" target="_blank">PDF</a></p>
        </li>
        <li>
            <p class="paper_title">Exploring Public Places As Infrastructures for Civic M-Learning</p>
            <p class="paper_detail"><em>Dan Richardson</em>, Clara Crivellaro, Ahmed Kharrufa, Kyle Montague, Patrick
                Olivier</p>
            <p class="paper_detail">2017 | International Conference on Communities and Technologies | <a
                    href="https://doi.org/10.1145/3083671.3083678" target="_blank">DOI</a> | <a
                    href="/assets/pdf/ExploringPublicPlacesAsInfrastructuresForCivicMLearning.pdf"
                    target="_blank">PDF</a></p>
        </li>
    </ul>

    <h3>Contributing Author</h3>

    <ul class="paper_list">

        <li>
            <p class="paper_title">The Question-driven Dashboard: How Can We Design Analytics Interfaces Aligned to Teachers’ Inquiry?
            </p>
            <p class="paper_detail">Stanislav Pozdniakov, Roberto Martinez-Maldonado, Yi-Shan Tsai, Mutlu Cukurova, Tom Bartindale, Peter Chen, Harrison Marshall, <b>Dan Richardson</b>, Dragan Gasevic</p>
            <p class="paper_detail">2022 | 12th International Learning Analytics and Knowledge Conference (LAK22) | <a
                    href="https://doi.org/10.1145/3506860.3506885" target="_blank">DOI</a> | <a
                    href="https://discovery.ucl.ac.uk/id/eprint/10145531/1/The%20Question-driven%20Dashboard.pdf" target="_blank">PDF</a></p>
        </li>
        
        <li>
            <p class="paper_title">ZoomSense: A Scalable Infrastructure for Augmenting Zoom
            </p>
            <p class="paper_detail">Tom Bartindale, Peter Chen, Harrison Marshall, Stanislav Pozdniakov, <b>Dan Richardson</b></p>
            <p class="paper_detail">2021 | ACM International Conference on Multimedia (MM '21) | <a
                    href="https://doi.org/10.1145/3474085.3478332" target="_blank">DOI</a> | <a
                    href="https://dl.acm.org/doi/pdf/10.1145/3474085.3478332" target="_blank">PDF</a></p>
        </li>

        <li>
            <p class="paper_title">Question-driven Learning Analytics: Designing a Teacher Dashboard for Online Breakout Rooms
            </p>
            <p class="paper_detail">Stanislav Pozdniakov, Roberto Martinez-Maldonado, Shaveen Singh, Peter Chen, <b>Dan Richardson</b>, Tom Bartindale, Patrick Olivier, Dragan Gašević</p>
            <p class="paper_detail">2021 |  International Conference on Advanced Learning Technologies (ICALT) | <a
                    href="https://doi.org/10.1109/ICALT52272.2021.00060" target="_blank">DOI</a></p>
        </li>

        <li>
            <p class="paper_title">Investigating students’ experiences with collaboration analytics for remote group meetings
            </p>
            <p class="paper_detail">Qi Zhou, Wannapon Suraworachet, Stanislav Pozdniakov, Roberto Martinez-Maldonado, Tom Bartindale, Peter Chen, <b>Dan Richardson</b>, Mutlu Cukurova</p>
            <p class="paper_detail">2021 |  International Conference on Artificial Intelligence in Education |  <a
                href="https://doi.org/10.1007/978-3-030-78292-4_38" target="_blank">DOI</a> | <a
                href="https://link.springer.com/content/pdf/10.1007%2F978-3-030-78292-4_38.pdf" target="_blank">PDF</a></p>
        </li>

        <li>
            <p class="paper_title">Exploring the Opportunities for Online Learning Platforms to Support the Emergency Home School Context
            </p>
            <p class="paper_detail">Bronwyn J Cumbo, Tom Bartindale, <b>Dan Richardson</b></p>
            <p class="paper_detail">2021 | CHI Conference on Human Factors in Computing Systems |  <a
                href="https://doi.org/10.1145/3411764.3445044" target="_blank">DOI</a></p>
        </li>

        <li>
            <p class="paper_title">TalkFutures: Supporting Qualitative Practices in Distributed Community Engagements
            </p>
            <p class="paper_detail">Jay Rainey, Juan Carlos Alvarez de la Vega, <em>Dan Richardson</em>,
                Daniel Lambton-Howard, Sara Armouch, Tom Bartindale, Shaun Hazeldine, Pamela Briggs,
                Patrick Olivier, Kyle Montague</p>
            <p class="paper_detail">2020 | Designing Interactive Systems | <a
                    href="https://doi.org/10.1145/3357236.3395531" target="_blank">DOI</a> | <a
                    href="https://dl.acm.org/doi/pdf/10.1145/3357236.3395531" target="_blank">PDF</a></p>
        </li>

        <li>
            <p class="paper_title">Usability Testing of MySkinSelfie: a Mobile Phone Application for Skin
                Self‐Monitoring</p>
            <p class="paper_detail">Philip Hampton, <em>Dan Richardson</em>, Sarah Brown, Charlotte Goodhead, Kyle
                Montague, Patrick Olivier</p>
            <p class="paper_detail">2019 | Clinical and Experimental Dermatology | <a
                    href="https://doi.org/10.1111/ced.13995" target="_blank">DOI</a></p>
        </li>

        <li>
            <p class="paper_title">StammerApp: Designing a Mobile Application to Support Self-Reflection and Goal
                Setting for People Who Stammer</p>
            <p class="paper_detail">Róisín McNaney, Christopher Bull, Lynne Mackie, Floriane Dahman, Helen Stringer,
                <em>Dan Richardson</em>, Daniel Welsh
            </p>
            <p class="paper_detail">2018 | CHI Conference on Human Factors in Computing Systems | <a
                    href="https://doi.org/10.1145/3173574.3173841" target="_blank">DOI</a></p>
        </li>

        <li>
            <p class="paper_title">Evaluation of MySkinSelfie: A New Mobile App for Patient Skin Self-Monitoring</p>
            <p class="paper_detail">Philip Hampton, <em>Dan Richardson</em>, Kyle Montague, Patrick Olivier</p>
            <p class="paper_detail">2017 | Journal of the American Academy of Dermatology | <a
                    href="https://doi.org/10.1016/j.jaad.2017.04.504" target="_blank">DOI</a></p>
        </li>

        <li>
            <p class="paper_title">Speeching: Mobile Crowdsourced Speech Assessment to Support Self-Monitoring and
                Management for People with Parkinson's</p>
            <p class="paper_detail">Róisín McNaney, Mohammad Othman, <em>Dan Richardson</em>, Paul Dunphy, Telmo Amaral,
                Nick
                Miller, Helen Stringer, Patrick Olivier, John Vines</p>
            <p class="paper_detail">2016 | CHI Conference on Human Factors in Computing Systems | <a
                    href="https://doi.org/10.1145/2858036.2858321" target="_blank">DOI</a></p>
        </li>

    </ul>
</div>
