---
layout: default
---

<div class="project">
    
    <div class="banner_container">
        <img class="project_banner" src={{page.bannerImg}}>
        <div class="project_title"><h1>{{page.title}}</h1></div>
    </div>


    <div class="project_summary" style="background:{{page.heroColour}};">
        <p>{{page.summary}}</p>
    </div>

    <div class="project_content">
        <img class="project_featureImg" src={{page.featureImg}}>
        {{ content }}
    </div>

    <br/>

    {% if page.apple or page.github or page.google %}
    <div class="pill_list">
        <h2>Find {{page.title}} on</h2>

        {% if page.apple %}
        <a href="{{page.apple}}" target="_blank" rel="nofollow">
            <img alt="Get it on the App Store" src="/assets/img/apple.svg" class="project_linkBtn">
        </a>
        {% endif %}

        {% if page.github %}
        <a href="{{page.github}}" target="_blank" rel="nofollow">
            <img alt="View on GitHub" src="/assets/img/GitHub.png" class="project_linkBtn">
        </a>
        {% endif %}

        {% if page.google %}
        <a href="{{page.google}}" target="_blank" rel="nofollow">
            <img alt="Get it on Google Play" src="/assets/img/googleplay.png" class="project_linkBtn">
        </a>
        {% endif %}

    </div>
    {% endif %}

</div>